extends layout

block js
  script(src='/js/vendor/simple-ajax-uploader.js')
  script(src='/js/admin-account.js')

block content
  div.row
    div.col-md-12
      div.page-header: h1 #{account ? 'Edit' : 'Create'} Account
  form(role='form', action="#{account ? '/admin/account/'+account.id+'/update' : '/admin/account'}", method="POST")
    div.row
      div.col-md-8
        div.row
          div.col-md-6.form-group
            label(for='form-fullname') Full Name:
            input#form-fullname.form-control(type='text', name='FullName', value="#{account ? account.FullName : ''}")
        div.row
          div.col-md-6.form-group
            label(for='form-username') Username:
            input#form-username.form-control(type='text', name='Username', value="#{account ? account.Username : ''}")
        div.row
          div.col-md-6.form-group
            label(for='form-isadmin') Admin:
            select#form-isadmin.form-control(name='IsAdmin')
              if account
                option(value='false', selected=account['IsAdmin']===false) Nope
                option(value='true', selected=account['IsAdmin']===true) Yep
              else
                option(value='false') Nope
                option(value='true') Yep

        div.row
          div.col-md-6.form-group
            label(for='form-twitterhandle') Twitter Handle
              small  (@person)
              | :
            input#form-twitterhandle.form-control(type='text', name='TwitterHandle', value="#{account ? account.TwitterHandle : ''}")
        div.row
          div.col-md-12.form-group
            label(for='form-profileurl') Profile Image URL:
            input#form-profileurl.form-control(type='text', name='ProfileUrl', value="#{account ? account.ProfileUrl : ''}")
            br
            button#upload_profile.btn.btn-primary.btn-medium(type='button') Upload image
      div.col-md-4
        if account
          img(src=account.ProfileUrl)
    div.row.text-right(style='margin-top: 24px;')
      div.col-md-12
        if account
          input.btn.btn-primary.btn-medium(type='submit', value='Save')
        else
          input.btn.btn-primary.btn-medium(type='submit', value='Create')



