extends layout

block content
  div.row
    div.col-md-12
      if (message)
        div(class="alert alert-#{type}")= message
      div.page-header: h1 All Posts
      table.table.table-condensed
        thead
          th
          th ID
          th Author
          th Title
          th Topics
          th Category
          th Created
          th Updated
          th Published
        tbody
          each post in posts
            tr
              td
                div.btn-group
                  button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle='dropdown')
                    | Actions
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li: a(href='/admin/post/#{post.id}/update') Edit
                    li: a(href='/post/#{post.id}') View
                    if !post.PublishDate
                      li: a(href='/admin/post/#{post.id}/publish') Publish
                    else
                      li: a(href='/admin/post/#{post.id}/unpublish') Unpublish
                    li: a.btn-danger(href='/admin/post/#{post.id}/delete') Delete
              td= post.id
              td= post.AuthorUsername
              td= post.Title
              td
                if (post.Topics)
                  each topic in post.Topics.split(',')
                    code= topic
                    br
              td= post.Category
              td(title="#{post.CreateDate ? moment(post.CreateDate).format('LLL') : ''}") #{post.CreateDate ? moment(post.CreateDate).fromNow() : ''}
              td(title="#{post.UpdateDate ? moment(post.UpdateDate).format('LLL') : ''}") #{post.UpdateDate ? moment(post.UpdateDate).fromNow() : ''}
              td(title="#{post.PublishDate ? moment(post.PublishDate).format('LLL') : ''}") #{post.PublishDate ? moment(post.PublishDate).fromNow() : ''}
              //- td
                div.btn-group-vertical
                  a.btn.btn-default.btn-xs(href='') Preview
                    a.btn.btn-default.btn-xs(href='') Publish
                  else
                    a.btn.btn-default.btn-xs(href='') Unpublish
                  a.btn.btn-danger.btn-xs(href='') Delete

