extends layout

block meta
  meta(name='description', content='CSG Pro, a professional services consulting company based in Portland, OR.')
  meta(property='og:title', content='CSG Pro Consulting')
  meta(property='og:image', content='http://csgpro.com/apple-touch-icon-precomposed.png')
  meta(property='og:url', content='http://csgpro.com')

block content
  div.mobile-nav.hide-desk(role='navigation')
    ul
      li: a(href='javascript:void(0);', onclick="scrollToId('work', 60);") work /
      li: a(href='javascript:void(0);', onclick="scrollToId('services', 60);") services /
      li: a(href='javascript:void(0);', onclick="scrollToId('about', 60);") about /
      li: a(href='javascript:void(0);', onclick="scrollToId('updates', 60);") updates /
      li: a(href='javascript:void(0);', onclick="scrollToId('contact', 60);") contact /
    div.bottom
      a(href='/post/24'): img(src='/img/CSG20_round_footer.svg', style='width: 80px; height: 80px; margin: 0 24px -20px 0')
      a(href='http://twitter.com/csgpro'): img.side-margins(src='/img/twitter_icon.svg', style='width: 30px; height: 30px')
      a(href='http://www.linkedin.com/company/csg-pro'): img.side-margins(src='/img/linkedin_icon.svg', style='width: 30px; height: 30px')

  div.main-body

    header.mobile-header.grid--full.hide-desk
      div.grid__item.eight-twelfths
        div.toggle-nav
          div.icon-bar
          div.icon-bar
          div.icon-bar
        ul.gothic
          li.link(data-nav='work') work /
          li.link(data-nav='services') services /
          li.link(data-nav='about') about /
          li.link(data-nav='updates') updates /
          li.link(data-nav='contact') contact /
      div.grid__item.four-twelfths.right
        a#mobile-csg-logo(href='javascript:void(0)', onclick='scrollToId("hero");')
          img(src='/img/logo.svg')

    section#hero
      div.grid.center(style='max-width: 900px; margin: 0 auto 0 auto')
        div.grid__item.one-whole.right.hide-desk
          div#mobile-title We believe you should share and share alike.&nbsp;
        div.grid__item.one-whole.right.hide-mobile
          div#headline We believe you should share and share alike.&nbsp;
          br
          //- span#subline and share alike.&nbsp;
        div.grid__item.one-whole.right.mobile--pad-right-2.mobile--pad-top-1
          //a(href='javascript:void(0)', onclick='swapElement($("#swapper-cloud"));scrollToId("services");').tagline.hide-mobile Discover a new way to work together with SharePoint Online
          //a(href='javascript:void(0)', onclick='swapElement($("#swapper-cloud"));scrollToId("services");').tagline.hide-desk learn how cloud services can <br> make your business soar
          a(href='/sharepoint').tagline.hide-mobile Files. Emails. Ideas. People. We make them work better together with SharePoint.
          a(href='/sharepoint').tagline.hide-desk Files. Emails. Ideas. People. We make them work better together with SharePoint.
          div }
        div#blocks.grid__item.one-whole.left.hide-mobile
          div.grid__item.three-twelfths.right
            p Kuni BMW saves big with SharePoint Online Solution built by CSG Pro
            p: a(href='javascript:void(0)', onclick='scrollToId("work"); $(".swipeshow").swipeshow().goTo(0);') read the case study }
          div.grid__item.one-twelfth
            img(src='/img/line.svg')
          div.grid__item.right.three-twelfths
            p Let CSG Pro Introduce
              | <br>you to a SharePoint
              | <br>Online Solution&nbsp;
            p: a(href='/post/100085') read the blog }
          div.grid__item.one-twelfth
            img(src='/img/line.svg')
          div.grid__item.right.three-twelfths
            p Fast Forward to Collaboration:<br>44 Minutes to<br>SharePoint Online
            p: a(href='/post/100084') webcast details }

    div.test
      nav.hide-mobile
        div.wrapper
          img#logo.big-logo(src='/img/logo.svg')
          ul
            li.link(data-nav='work') work
            li /
            li.link(data-nav='services') services
            li /
            li.link(data-nav='about') about
            li /
            li.link(data-nav='updates') updates
            li /
            li.link(data-nav='contact') contact
    div#nav-spacer.hidden.hide-mobile

    div#main

      /////////////////////////////////
      // WORK
      /////////////////////////////////
      div#work-container
        section#work.grid.wrapper
          div.swipeshow
            ul.slides
              li.slide#kuni
                article.grid__item.desk--two-thirds.push--desk--one-third(style='background-image: url("/img/casestudy_img_04.jpg")')
                  a(href='javascript:void(0)').serif.white.next.text-size-md.hide-mobile see more work this way }
                aside.grid__item.desk--one-third.pull--desk--two-thirds.pad-right-1
                  div.space-top-sm.gothic
                    span.caps Case Study:
                    span.text-size-md  SharePoint Online
                  div.text-size-lg.space-top-xs.gothic(style='font-size: 22px') Collaborate more. Pay less.
                  span.serif.text-size-sm Kuni BMW
                  p Kuni BMW is the largest BMW Authorized Center in the state of Oregon. With over 16 dealerships in several Western states, they were looking for a way to keep the sales staff, inventory and management all on the same paperless page. The group was interested in a cost effective means of creating, maintaining and growing a web-accessible platform. Enter CSG Pro and SharePoint.
                  p After comparing the numbers between creation and deployment of SharePoint 2013 on premise versus an online tenant the results were clear. SharePoint Online was the more cost effective choice. It offered the rapid start up and flexibility Kuni was searching for without having to build any additional server farms or requiring support beyond the capabilities of their IT team.
                  p Having pioneered 0365/SharePoint Online engagements, CSG Pro made the deployment turnkey and perhaps more important—hassle free. Kuni now had basic site topology to measure its effectiveness. Their staff had a central place where they could work together online. Sales kept driving forward.
                  div.right.container.hide-desk
                    a(href='javascript:void(0)').serif.white.text-size-md.hide-desk.next see more work this way }
              li.slide
                article.grid__item.desk--two-thirds.push--desk--one-third(style='background-image: url("/img/casestudy_img_01.jpg")')
                  a(href='javascript:void(0)').serif.white.previous.text-size-md.hide-mobile { previous
                  a(href='javascript:void(0)').serif.white.next.text-size-md.hide-mobile next }
                aside.grid__item.desk--one-third.pull--desk--two-thirds.pad-right-1
                  div.space-top-sm.gothic
                    span.caps Case Study:
                    span.text-size-md  Web & Mobile
                  div.space-top-xs.gothic(style='font-size: 27px') Increase Awareness
                  span.serif.text-size-sm "OBRC - Know Your Nickel"
                  p Oregon Beverage Recycling Cooperative (OBRC) processes virtually 100% of recyclable containers redeemed throughout Oregon. Know Your Nickel, a campaign by OBRC and their branding agency, was created to educate the public on the impact this recycling.
                  p CSG expanded the campaign message through web and mobile by creating a development strategy that included: cloud hosting, mobile design, responsive development, and localization. CSG used HTML5, CSS3 and Windows Azure was selected as the hosting platform.
                  p The flexibility of Azure’s cloud hosting ensured website availability regardless of high usage spikes. Featured on NPR, Oregon Live and billboards across the Portland Metro area, the web campaign launched successfully and continues to deliver this important message.
                  div.hide-desk.container
                    a(href='javascript:void(0)').previous.serif.white.text-size-md.hide-desk.fl { previous
                    a(href='javascript:void(0)').next.serif.white.text-size-md.hide-desk.fr next }
              li.slide
                article.grid__item.desk--two-thirds.push--desk--one-third(style='background-image: url("/img/casestudy_img_02.jpg")')
                  a(href='javascript:void(0)').serif.white.previous.text-size-md.hide-mobile { previous
                  a(href='javascript:void(0)').serif.white.next.text-size-md.hide-mobile next }
                aside.grid__item.desk--one-third.pull--desk--two-thirds.pad-right-1
                  div.space-top-sm.gothic
                    span.caps Case Study:
                    span.text-size-md  Portals
                  div.text-size-lg.space-top-xs.gothic(style='font-size: 28px') Business Connectivity
                  span.serif.text-size-sm "McMenamins – SharePoint 2013 Migration and Cash Flow Solution"
                  p McMenamins Pubs & Breweries operates a portfolio of more than fifty pubs, hotels, microbreweries, and music venues.
                  p An existing SharePoint 2007 cash deposit solution that populated a SQL Server database with an InfoPath form caused unnecessary complexity and user complaints for McMenamins. A long-term vision that included solutions for Labor Reporting, Food Specials Approvals and Wine Order reporting prompted McMenamins to upgrade to SharePoint 2013 Enterprise.
                  p CSG worked with McMenamins to architect a cash flow deposit solution that used SharePoint 2013’s Business Connectivity Services to connect the cash deposits table in the data warehouse directly to a SharePoint External List. This reduced the complexity and provided McMenamins with a SharePoint 2013 solution that supported their long-term vision.
                  div.hide-desk.container
                    a(href='javascript:void(0)').previous.serif.white.text-size-md.hide-desk.fl { previous
                    a(href='javascript:void(0)').next.serif.white.text-size-md.hide-desk.fr next }
              li.slide
                article.grid__item.desk--two-thirds.push--desk--one-third(style='background-image: url("/img/casestudy_img_03.jpg")')
                  a(href='javascript:void(0)').serif.white.previous.text-size-md.hide-mobile { previous
                aside.grid__item.desk--one-third.pull--desk--two-thirds.pad-right-1
                  div.space-top-sm.gothic
                    span.caps Case Study:
                    span.text-size-md  Analytics
                  div.text-size-lg.space-top-xs.gothic(style='font-size: 28px') Business Intelligence
                  span.serif.text-size-sm "OIA - Packaging Financial Dashboard"
                  p Oregon International Air Freight (OIA) is a leading third-party logistics provider that offers freight forwarding, warehousing, distribution, customs brokering, global sourcing, and creative packaging solutions.
                  p As a leader in logistics, OIA sought creative ways to efficiently utilize all software and database systems that were helping them lead the industry yet required considerable amounts of manual effort to maintain. CSG tasks included: requirements analysis, backend data modeling, new SharePoint lists, and new ETL processes.
                  p CSG built a highly functional, time-saving, and user-friendly dashboard that leveraged Microsoft SQL Server, Excel, PowerPivot, SQL Server Integration Services (SSIS), and SharePoint. It delivered essential information required for managing the logistics and packaging divisions.
                  div.hide-desk.container
                    a(href='javascript:void(0)').serif.white.text-size-md.hide-desk.previous { previous

      /////////////////////////////////
      // SERVICES
      /////////////////////////////////



      // Modals
      include partials/modal

      div#modal-web.modal
        mixin contactForm('Web development')
      div#modal-apps.modal
        mixin contactForm('Application development')
      div#modal-cloud.modal
        mixin contactForm('Cloud services')
      div#modal-analytics.modal
        mixin contactForm('Analytics')
      div#modal-portals.modal
        mixin contactForm('Portals')
      div#modal-windows8.modal
        mixin contactForm('Windows 8')

      div#services-container
        section#services.grid.wrapper
          aside.grid__item.desk--two-twelfths.mobile--one-whole.mobile--full.no-wrap
            div.space-top.hide-mobile WHAT WE DO:
            ul.swapper.accordion
              li#swapper-web(data-swap='web')
                div.services-menu
                  | <svg viewBox="0 0 90 90" width="90" height="90" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g> <title>Layer 1</title> <g> <path fill="none" d="m68.871,24.058l-51,0c-0.552,0 -1,0.448 -1,1l0,27.442c0,0.552 0.448,1 1,1l51,0c0.55199,0 1,-0.448 1,-1l0,-27.442c0,-0.553 -0.44801,-1 -1,-1zm-1.00401,26.522c0,0.531 -0.439,0.962 -0.981,0.962l-46.83001,0c-0.542,0 -0.981,-0.431 -0.981,-0.962l0,-23.868c0,-0.531 0.439,-0.962 0.981,-0.962l46.83001,0c0.54201,0 0.981,0.431 0.981,0.962l0,23.868z" /> <path fill="#003C56" d="m69.871,21.058l-53,0c-0.552,0 -3,2.448 -3,3l0,29.442c0,0.552 2.448,3 3,3l23.167,0l0,7.345l-7.691,0c-0.552,0 -1,0.448 -1,1l0,1.093c0,0.55199 0.448,1 1,1l22.049,0c0.552,0 1,-0.44801 1,-1l0,-1.093c0,-0.552 -0.448,-1 -1,-1l-7.691,0l0,-7.345l23.167,0c0.552,0 3,-2.448 3,-3l0,-29.442c-0.001,-0.553 -2.44901,-3 -3.001,-3z" /> </g> </g> </svg>
                  span.serif.text-size-md web
                  | <svg width="51.688" height="27.688" xmlns="http://www.w3.org/2000/svg" class="chevron hide-desk"> <g> <title>Layer 1</title> <polyline transform="rotate(-180 25.8125 13.875)" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="  0.75,26.812 25.75,0.812 50.875,26.938 " /> </g> </svg>
                  hr.hide-mobile
              div#swapper-target-web.hide-desk.section
              li#swapper-apps(data-swap='apps')
                div.services-menu
                  | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="90" height="90" viewBox="0 0 90 90" enable-background="new 0 0 90 90" xml:space="preserve"><g><g><path fill-rule="evenodd" clip-rule="evenodd" fill="#003C56" d="M39.829 30.247c-0.057-0.056 0.052-0.568 0.06-0.661 0.144-1.655 0.219-3.195-0.204-4.817 -0.223-0.856-0.478-1.711-0.77-2.546 -0.249-0.712-0.565-1.421-0.939-2.076 -1.352-2.366-3.594-4.096-6.118-5.058 -2.292-0.873-5.984-1.255-8.671-0.616l-2.084 0.635c1.173 1.232 3.284 3.357 3.284 3.357l4.131 4.06c0 0 1.394 1.69 1.228 2.691 -0.156 0.942-0.486 1.832-1.013 2.63 -0.928 1.404-2.444 2.953-4.035 3.58 -0.506 0.199-1.063 0.194-1.597 0.143 -0.319-0.031-1.139-0.006-1.378-0.246 -2.808-2.808-5.617-5.617-8.425-8.425 -3.317 9.062 4.749 21.303 14.7 18.464 9.739 9.799 19.481 19.601 29.22 29.399 3.181 2.507 8.667 2.834 11.652-0.179 2.635-2.66 2.659-8.112 0.359-11.114C59.43 49.728 49.628 39.986 39.829 30.247zM64.21 69.147c-5.504 1.439-7.469-6.215-1.793-8.097C68.153 60.572 68.89 67.923 64.21 69.147zM68.263 15.276c-0.832-0.536-1.741-0.906-2.709-1.116 -0.842-0.182-1.712-0.189-2.558-0.041 -1.245 0.217-2.437 0.766-3.401 1.579 -1.349 1.137-2.487 2.525-3.72 3.782 -1.262 1.285-2.564 2.531-3.826 3.817 -0.623 0.635-7.556 7.669-7.558 7.667 0.777 0.777 1.554 1.554 2.33 2.33 -0.005-0.005 3.369-3.403 3.676-3.714 2.2-2.23 4.395-4.466 6.601-6.691 1.096-1.106 2.171-2.241 3.299-3.315 0.693-0.66 1.279-1.568 2.102-2.072 0.608-0.372 1.438-0.005 1.446 0.757 0.007 0.642-0.541 1.096-0.997 1.461 -0.59 0.471-1.082 0.997-1.607 1.54 -2.156 2.229-4.42 4.367-6.624 6.549 -2.211 2.189-4.428 4.373-6.641 6.56 0.836 0.896 1.673 1.793 2.51 2.689 -0.019-0.02 3.373-3.371 3.681-3.681 2.196-2.21 4.425-4.387 6.612-6.606 1.095-1.111 2.183-2.234 3.301-3.321 0.671-0.652 1.284-1.424 2.003-2.018 0.514-0.425 1.129-0.413 1.433 0.252 0.452 0.987-0.723 1.757-1.326 2.359 -0.594 0.594-1.188 1.187-1.781 1.781 -2.112 2.112-4.224 4.224-6.336 6.336 -2.111 2.111-4.221 4.221-6.332 6.332 0.777 0.717 1.554 1.434 2.33 2.151 0.015 0.013 3.85-3.933 4.196-4.285 2.512-2.554 5.043-5.095 7.517-7.685 1.232-1.29 2.532-2.514 3.764-3.804 1.029-1.078 1.571-2.202 1.732-3.684C71.639 18.786 70.232 16.544 68.263 15.276zM23.516 58.391c-1.434 0.299-2.868 0.598-4.302 0.896 -2.33 3.645-4.661 7.291-6.991 10.935 0.896 0.896 1.793 1.793 2.689 2.689 3.645-2.33 7.291-4.661 10.935-6.991 0.299-1.434 0.598-2.868 0.896-4.302 2.987-2.987 5.976-5.976 8.963-8.963 -1.135-1.075-2.271-2.151-3.406-3.227C29.373 52.415 26.444 55.404 23.516 58.391z"></path></g></g></svg>
                  span.serif.text-size-md apps
                  | <svg width="51.688" height="27.688" xmlns="http://www.w3.org/2000/svg" class="chevron hide-desk"> <g> <title>Layer 1</title> <polyline transform="rotate(-180 25.8125 13.875)" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="  0.75,26.812 25.75,0.812 50.875,26.938 " /> </g> </svg>
                  hr.hide-mobile
              div#swapper-target-apps.hide-desk.section
              li#swapper-cloud(data-swap='cloud')
                div.services-menu
                  | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="90" height="72" viewBox="0 0 90 72" enable-background="new 0 0 90 72" xml:space="preserve"><path fill="#003C56" d="M77.911 39.232c0-5.147-4.173-9.32-9.32-9.32 -0.194 0-0.375 0.045-0.566 0.057 0.13-0.745 0.228-1.503 0.228-2.286 0-7.236-5.805-13.102-12.967-13.102 -2.951 0-5.64 1.035-7.82 2.713 -2.184-4.624-6.853-7.845-12.306-7.845 -7.534 0-13.642 6.108-13.642 13.642 0 1.071 0.153 2.1 0.386 3.099 -0.633-0.11-1.275-0.195-1.939-0.195 -6.229 0-11.278 5.049-11.278 11.278 0 5.865 4.493 10.628 10.216 11.171 0.065 0.004 0.121 0.038 0.187 0.038h0.188c0.232 0.014 0.452 0.069 0.687 0.069s0.455-0.055 0.687-0.069h47.251c0.231 0.017 0.452 0.069 0.687 0.069 0.235 0 0.456-0.052 0.687-0.069h0.12c0.043 0 0.078-0.023 0.12-0.024C74.223 47.986 77.911 44.061 77.911 39.232z"></path></svg>
                  span.serif.text-size-md cloud
                  | <svg width="51.688" height="27.688" xmlns="http://www.w3.org/2000/svg" class="chevron hide-desk"> <g> <title>Layer 1</title> <polyline transform="rotate(-180 25.8125 13.875)" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="  0.75,26.812 25.75,0.812 50.875,26.938 " /> </g> </svg>
                  hr.hide-mobile
              div#swapper-target-cloud.hide-desk.section
              li#swapper-analytics(data-swap='analytics')
                div.services-menu
                  | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" width="90" height="72" viewBox="0 0 90 72" enable-background="new 0 0 90 72" xml:space="preserve"><polygon fill="#003C56" points="63.005,51.059 63.005,22.454 51.652,22.454 51.652,51.059 48.613,51.059 48.613,33.896   37.26,33.896 37.26,51.059 34.399,51.059 34.399,39.528 23.046,39.528 23.046,51.059 20.007,51.059 20.007,16.733 14.465,16.733   14.465,51.059 14.465,56.602 20.007,56.602 65.865,56.602 65.865,51.059 "></polygon></svg>
                  span.serif.text-size-md analytics
                  | <svg width="51.688" height="27.688" xmlns="http://www.w3.org/2000/svg" class="chevron hide-desk"> <g> <title>Layer 1</title> <polyline transform="rotate(-180 25.8125 13.875)" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="  0.75,26.812 25.75,0.812 50.875,26.938 " /> </g> </svg>
                  hr.hide-mobile
              div#swapper-target-analytics.hide-desk.section
              li#swapper-portals(data-swap='portals')
                div.services-menu
                  | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" width="90" height="72" viewBox="0 0 90 72" enable-background="new 0 0 90 72" xml:space="preserve"><path fill="#003C56" d="M67.813 12.465h-48.98c-1.942 0-4.516 2.416-4.516 4.162v29.622c0 1.746 2.574 4.162 4.516 4.162h12.891v14.032l12.501-14.032h23.587c1.942 0 4.516-2.416 4.516-4.162V16.627C72.328 14.88 69.754 12.465 67.813 12.465zM26.397 37.564c-3.66 0-6.628-2.743-6.628-6.127 0-3.384 2.968-6.127 6.628-6.127 3.66 0 6.628 2.743 6.628 6.127C33.025 34.821 30.057 37.564 26.397 37.564zM43.323 37.564c-3.66 0-6.628-2.743-6.628-6.127 0-3.384 2.967-6.127 6.628-6.127s6.628 2.743 6.628 6.127C49.951 34.821 46.983 37.564 43.323 37.564zM60.249 37.564c-3.66 0-6.628-2.743-6.628-6.127 0-3.384 2.967-6.127 6.628-6.127 3.66 0 6.628 2.743 6.628 6.127C66.876 34.821 63.909 37.564 60.249 37.564z"></path></svg>
                  span.serif.text-size-md portals
                  | <svg width="51.688" height="27.688" xmlns="http://www.w3.org/2000/svg" class="chevron hide-desk"> <g> <title>Layer 1</title> <polyline transform="rotate(-180 25.8125 13.875)" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="  0.75,26.812 25.75,0.812 50.875,26.938 " /> </g> </svg>
                  hr.hide-mobile
              div#swapper-target-portals.hide-desk.section
              li#swapper-windows8(data-swap='windows8')
                div.services-menu
                  | <svg width="60" height="50" viewBox="0 0 70 72" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <g id="svg_1"> <path id="svg_2" d="m56.20145,15.464183l-44.824055,0c-1.707499,0 -3.091434,1.245015 -3.091434,2.780181l0,27.803576c0,1.53516 1.383937,2.780178 3.091434,2.780178l12.213629,0l10.99148,0l21.618065,0c1.7075,0 3.091438,-1.245018 3.091438,-2.780178l0,-27.803576c0.000877,-1.535166 -1.38306,-2.780181 -3.090557,-2.780181zm-22.412029,27.239972c-5.831171,0 -10.558006,-4.72683 -10.558006,-10.558002c0,-5.831173 4.726835,-10.558012 10.558006,-10.558012s10.55801,4.726839 10.55801,10.558012c0,5.831173 -4.726837,10.558002 -10.55801,10.558002z" fill="#003C56"/> <polygon id="svg_3" points="32.9348 27.4975 35.7748 31.0242 28.1473 31.0242 28.1473 33.0755 35.7704 33.0755 32.9348 36.6021 35.8416 36.6021 39.8589 32.0504 35.8416 27.4975" fill="#003C56"/> </g> </g> </svg>
                  span.serif.text-size-md win 8
                  | <svg width="51.688" height="27.688" xmlns="http://www.w3.org/2000/svg" class="chevron hide-desk"> <g> <title>Layer 1</title> <polyline transform="rotate(-180 25.8125 13.875)" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="  0.75,26.812 25.75,0.812 50.875,26.938 " /> </g> </svg>
                  hr.hide-mobile
              div#swapper-target-windows8.hide-desk.section
          article.grid__item.desk--ten-twelfths.hide-mobile
            div.swappable.space-top.grid__item.one-whole
              section#swappable-web(data-swap='web')
                div.grid__item.one-whole
                  span.title Web Development for Desktop &amp; Mobile
                  div.fr.hide-mobile
                    | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <g > <path  d="m55.371,3.558l-51,0c-0.552,0 -1,0.448 -1,1l0,27.442c0,0.552 0.448,1 1,1l51,0c0.55199,0 1,-0.448 1,-1l0,-27.442c0,-0.553 -0.44801,-1 -1,-1zm-1.00401,26.522c0,0.531 -0.439,0.962 -0.981,0.962l-46.83001,0c-0.542,0 -0.981,-0.431 -0.981,-0.962l0,-23.868c0,-0.531 0.439,-0.962 0.981,-0.962l46.83001,0c0.542,0 0.981,0.431 0.981,0.962l0,23.868z" fill="none"/> <path  d="m53.286,5.25l-46.83,0c-0.542,0 -0.981,0.431 -0.981,0.962l0,23.868c0,0.531 0.439,0.962 0.981,0.962l46.83,0c0.542,0 0.981,-0.431 0.981,-0.962l0,-23.868c-0.001,-0.531 -0.43999,-0.962 -0.981,-0.962z" fill="#003C56"/> <path  d="m56.371,0.558l-53,0c-0.552,0 -3,2.448 -3,3l0,29.442c0,0.552 2.448,3 3,3l23.167,0l0,7.345l-7.691,0c-0.552,0 -1,0.448 -1,1l0,1.093c0,0.55199 0.448,1 1,1l22.049,0c0.552,0 1,-0.44801 1,-1l0,-1.093c0,-0.552 -0.448,-1 -1,-1l-7.691,0l0,-7.345l23.167,0c0.552,0 3,-2.448 3,-3l0,-29.442c-0.001,-0.553 -2.44901,-3 -3.001,-3zm0,31.442c0,0.552 -0.44801,1 -1,1l-51,0c-0.552,0 -1,-0.448 -1,-1l0,-27.442c0,-0.552 0.448,-1 1,-1l51,0c0.55199,0 1,0.448 1,1l0,27.442z" fill="#003C56"/> </g> </g> </svg>
                  hr
                div.one-whole
                  div.grid__item.one-whole.text-column
                    p The monopoly of the deskbound PC is over. Desktop and laptop computers are being replaced by tablets and smart phones. People want to be connected whenever and wherever using their device of choice. At CSG, we build websites based on that premise.
                    p When we work with you to design, construct, deploy, and manage your website, we are creating a visual and interactive representation of your company and brand. Our process is designed to be creative, engaging and goal-driven. The end result is a product that is architecturally sound, intuitive, functional, and beautiful.
                    p Our code is handcrafted in Portland, Oregon using high quality software construction. With CSG you can expect comprehensive services including: UX / UI design, business analysis, system design, construction, testing, and deployment. We understand how to blend high level company goals, intuitive user interface, technological architecture and visually stunning design to create a unique and compelling solution for your business. Once built, we provide a managed service for the care and hosting of your website while making ongoing improvements. By custom building solutions that meet and exceed our clients' needs, we make long-term management of websites and web for mobile easy.
                    h3.right: a.modal-toggle(data-modal='web', href='javascript:void(0)').text-size-md contact us about web development }
              section#swappable-apps.hide(data-swap='apps')
                div.grid__item.one-whole
                  span.title Application Development
                  div.fr.hide-mobile
                    | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <g > <g > <path  d="m28.591518,15.597149c-0.041744,-0.041014 0.038086,-0.415998 0.043945,-0.484112c0.105465,-1.212114 0.160397,-2.34 -0.149406,-3.527946c-0.163322,-0.62693 -0.350086,-1.253126 -0.563946,-1.864677c-0.182365,-0.521465 -0.413803,-1.040731 -0.687717,-1.520451c-0.990196,-1.732846 -2.632227,-2.999889 -4.480793,-3.704453c-1.678648,-0.63938 -4.382648,-0.919156 -6.350594,-0.451156l-1.526312,0.465071c0.8591,0.902311 2.405184,2.458651 2.405184,2.458651l3.025524,2.973522c0,0 1.020958,1.237747 0.89938,1.970875c-0.114252,0.689917 -0.355944,1.341747 -0.741915,1.926199c-0.679663,1.028282 -1.789974,2.162762 -2.955214,2.621973c-0.370592,0.145746 -0.778536,0.142084 -1.169634,0.104733c-0.233635,-0.022705 -0.834198,-0.004395 -1.009241,-0.18017c-2.056564,-2.056564 -4.113861,-4.113861 -6.170425,-6.170425c-2.429354,6.636961 3.478144,15.602205 10.766203,13.522938c7.132792,7.176737 14.267782,14.355673 21.400576,21.531675c2.329746,1.836113 6.347668,2.075607 8.533867,-0.1311c1.929855,-1.948174 1.947437,-5.941185 0.262924,-8.139835c-7.176731,-7.133526 -14.355667,-14.268517 -21.532406,-21.40131zm17.856522,28.490162c-4.031101,1.053913 -5.470257,-4.551838 -1.313187,-5.930202c4.201019,-0.350086 4.740791,5.033745 1.313187,5.930202zm2.968395,-39.454844c-0.609352,-0.392564 -1.275097,-0.663549 -1.984058,-0.817353c-0.616676,-0.133296 -1.25386,-0.138422 -1.873466,-0.030027c-0.911831,0.15893 -1.784847,0.561014 -2.490871,1.156451c-0.988003,0.832732 -1.821468,1.849297 -2.72451,2.769917c-0.924282,0.941128 -1.877861,1.853691 -2.802143,2.795553c-0.456284,0.465069 -5.533974,5.616734 -5.535439,5.615271c0.569069,0.569069 1.138138,1.138142 1.706478,1.706478c-0.003662,-0.00366 2.467438,-2.492338 2.692284,-2.720114c1.611267,-1.63324 3.218872,-3.270874 4.834538,-4.900454c0.802704,-0.810028 1.590031,-1.641296 2.416172,-2.42789c0.507549,-0.48338 0.936729,-1.148394 1.539494,-1.517521c0.445293,-0.272451 1.053185,-0.003662 1.059044,0.554423c0.005123,0.470198 -0.396229,0.802704 -0.730198,1.070027c-0.432114,0.344958 -0.79245,0.730197 -1.17696,1.127889c-1.579041,1.632509 -3.237183,3.198368 -4.851383,4.796453c-1.619324,1.603212 -3.243042,3.202763 -4.863834,4.80451c0.612282,0.656225 1.225296,1.313183 1.83831,1.969408c-0.013912,-0.014647 2.470367,-2.468901 2.695946,-2.695944c1.608341,-1.618593 3.240849,-3.213017 4.842598,-4.8382c0.801968,-0.81369 1.598816,-1.636169 2.417633,-2.432283c0.491436,-0.477522 0.940392,-1.042931 1.466984,-1.477974c0.376453,-0.311266 0.826874,-0.302479 1.049522,0.184565c0.331043,0.722874 -0.529522,1.286818 -0.971153,1.727718c-0.435043,0.435045 -0.870087,0.869354 -1.304394,1.304396c-1.546822,1.54682 -3.093636,3.093637 -4.640453,4.640453c-1.546085,1.546085 -3.091442,3.09144 -4.637527,4.637526c0.569073,0.525126 1.138145,1.050253 1.706482,1.575382c0.010986,0.009518 2.819721,-2.880512 3.073128,-3.138313c1.839779,-1.870537 3.693466,-3.731552 5.505413,-5.628454c0.902309,-0.94479 1.854424,-1.84124 2.756737,-2.78603c0.753632,-0.789522 1.150589,-1.612734 1.268501,-2.698143c0.189693,-1.757015 -0.840786,-3.399044 -2.282871,-4.327721zm-32.77247,31.5772c-1.050255,0.218987 -2.100508,0.437973 -3.150763,0.656227c-1.70648,2.669579 -3.413692,5.339893 -5.120173,8.008739c0.656226,0.656223 1.313183,1.313183 1.96941,1.96941c2.669579,-1.706482 5.33989,-3.413692 8.008738,-5.120174c0.218985,-1.050255 0.437971,-2.10051 0.656225,-3.150761c2.187662,-2.187664 4.376793,-4.376793 6.564455,-6.564457c-0.831268,-0.787323 -1.663267,-1.575378 -2.494537,-2.363438c-2.143721,2.187664 -4.288904,4.376793 -6.433355,6.564453z" fill="#003C56" clip-rule="evenodd" fill-rule="evenodd"/> </g> </g> </g> </svg>
                  hr
                div.one-whole
                  div.grid__item.one-whole.text-column
                    p “There’s an app for that”. That simple phrase really encapsulates the dramatic changes in development over the last few years. But what if there’s not an app for that? CSG was founded upon the idea that the most valuable software solutions are not always available “off the shelf” and organizations often require custom software in order to realize the full potential of their unique business opportunities. The dramatic transition to a world of mobile apps has made this truer than ever.
                    p Success in this age of mobility requires that businesses provide users with mobile apps that are visually appealing, intuitive to use, device responsive, and socially enabled. When we think apps, we think mobile first. CSG’s custom application development solutions are uniquely designed to address our clients’ specific customer, market and organizational challenges. Supported by world-class infrastructure and mature processes, CSG provides the following comprehensive services in application development:
                    ul
                      li Custom application design and development for mobile, web and desktop platforms
                      li Server-side data management and process automation for cloud deployment and on-premise environments
                      li Software as a Service (SaaS) – custom software solutions tailored to client-specific requirements and deployed in the cloud
                      li Post-implementation managed services and application support
                    p Whether you require solutions for desktops or handheld devices, web or mobile, custom applications are meeting the needs of countless businesses. Let CSG put our design and development team to work building your next app.
                    h3.right: a.modal-toggle(data-modal='apps', href='javascript:void(0)').text-size-md contact us about application development }
              section#swappable-cloud.hide(data-swap='cloud')
                div.grid__item.one-whole
                  span.title Cloud Services
                  div.fr.hide-mobile
                    | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <path fill="#003C56" d="m58.661003,37.211548c0,-4.236176 -3.434532,-7.670717 -7.670715,-7.670717c-0.159668,0 -0.30864,0.037037 -0.465843,0.046913c0.107002,-0.613163 0.18766,-1.237026 0.18766,-1.881466c0,-5.955505 -4.77774,-10.783445 -10.672344,-10.783445c-2.428783,0 -4.641933,0.851843 -6.436157,2.232901c-1.797516,-3.80573 -5.640282,-6.456738 -10.128311,-6.456738c-6.200768,0 -11.227888,5.027119 -11.227888,11.22789c0,0.881475 0.125925,1.728378 0.317692,2.550596c-0.520981,-0.090536 -1.049374,-0.160492 -1.595869,-0.160492c-5.126707,0 -9.282225,4.155519 -9.282225,9.282227c0,4.827118 3.69791,8.74725 8.408159,9.194157c0.053495,0.003296 0.099585,0.031277 0.153904,0.031277l0.154736,0c0.190941,0.011524 0.372013,0.056789 0.565426,0.056789s0.374483,-0.045265 0.565426,-0.056789l38.889381,0c0.190125,0.013992 0.372017,0.056789 0.56543,0.056789c0.193413,0 0.375305,-0.042797 0.565422,-0.056789l0.09877,0c0.035393,0 0.064201,-0.018929 0.098763,-0.019753c3.873215,-0.388474 6.908585,-3.618896 6.908585,-7.593349z" /> </g> </svg>
                  hr
                div.one-whole
                  div.grid__item.one-whole.text-column
                    p Cloud computing is the most disruptive technology to emerge in the information age. It has leveled the playing field of the technological competitive landscape by enabling organizations to create infinitely scalable, fault tolerant, and secure compute environments with little to no capital investment. As a result, a wave of innovation is building that dwarfs all of the major information technology trends of the past. The on-demand availability of cloud services means that competitiveness has a lot less to do with the size of the organization and more to do with the quality and creativity of the solution.
                    p We have leveraged the cloud to build highly functional websites, scalable data-marts for real time analytics, and robust line of business applications. In every case there are specific business requirements, demand for high security, scalability and a need for long-term support. Because the infrastructure already exists, the time to build and launch a production solution is often greatly reduced.
                    p So at CSG, the question we always ask is … why not the cloud? When designing solutions for our clients our approach is certainly holistic; leverage current on-premises investments while giving full consideration for how cloud services can provide optimal benefit. Intelligent architecture and creativity are the key ingredients for a great solution. Whether you are well versed in cloud technologies or unsure of the difference between PaaS and SaaS, we’ll work with you to apply our knowledge and experience to achieve the results you are striving for.
                    h3.right: a.modal-toggle(data-modal='cloud', href='javascript:void(0)').text-size-md contact us about cloud services }
              section#swappable-analytics.hide(data-swap='analytics')
                div.grid__item.one-whole
                  span.title Analytics
                  div.fr.hide-mobile
                    | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <polygon fill="#003C56" points="52.755 41.059 52.755 12.454 41.402 12.454 41.402 41.059 38.363 41.059 38.363 23.896 27.01 23.896 27.01 41.059 24.149 41.059 24.149 29.528 12.796 29.528 12.796 41.059 9.757 41.059 9.757 6.733 4.215 6.733 4.215 41.059 4.215 46.602 9.757 46.602 55.615 46.602 55.615 41.059" id="svg_1"/> </g> </svg>
                  hr
                div.one-whole
                  div.grid__item.one-whole.text-column
                    p Companies can gain more value from their business data by using it to empower people to make well-informed decisions. Traditionally this has meant a business analyst exposing historical data through spreadsheets and reports. Today, rapidly emerging cloud and mobile technologies are transforming the way information is used.
                    p Researchers, data scientists, and marketers are analyzing very large volumes of unstructured data from previously untapped sources such as e-mails, customer service records, sensor data, and security logs. Now that companies have the ability to deal with so much more data, they are free to incorporate a greater variety of data into the mix. For example, social media, demographics, census, mobile phone, traffic, and weather data can be incorporated with more traditional sources to give context to business intelligence. The goal is to use more data, more elements and better analysis until clear patterns emerge.
                    p As business leaders begin to recognize the potential of big data, they realize that the biggest insights and hidden gems of knowledge are found when big data actually becomes quite small. CSG’s Analytics and BI solutions are designed to deliver data to you in real-time as actionable information, helping you to make those informed business decisions faster. We have expertise in:
                    ul
                      li Customer/Production Data Hub — Data consolidation and cleansing
                      li Data Mining Solutions — Business analytics applications
                      li Data Presentation — Web-based or SharePoint dashboards
                      li Business Data Architecture and Analytics
                    h3.right: a.modal-toggle(data-modal='analytics', href='javascript:void(0)').text-size-md contact us about analytics }
              section#swappable-portals.hide(data-swap='portals')
                div.grid__item.one-whole
                  span.title Portals
                  div.fr.hide-mobile
                    | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <path fill="#003C56" d="m51.742538,3.215l-42.964195,0c-1.703482,0 -3.961339,2.119262 -3.961339,3.650817l0,25.983777c0,1.531555 2.257857,3.650822 3.961339,3.650822l11.307707,0l0,12.308567l10.965605,-12.308567l20.69001,0c1.703484,0 3.961338,-2.119267 3.961338,-3.650822l0,-25.983777c0,-1.532431 -2.257862,-3.650817 -3.960464,-3.650817zm-36.329222,22.016302c-3.210474,0 -5.81394,-2.406101 -5.81394,-5.374475c0,-2.96837 2.603466,-5.37447 5.81394,-5.37447c3.210472,0 5.81394,2.406099 5.81394,5.37447c0,2.968374 -2.603468,5.374475 -5.81394,5.374475zm14.847126,0c-3.210476,0 -5.81394,-2.406101 -5.81394,-5.374475c0,-2.96837 2.602589,-5.37447 5.81394,-5.37447s5.813936,2.406099 5.813936,5.37447c0,2.968374 -2.603462,5.374475 -5.813936,5.374475zm14.84712,0c-3.210472,0 -5.813942,-2.406101 -5.813942,-5.374475c0,-2.96837 2.602589,-5.37447 5.813942,-5.37447c3.210472,0 5.813934,2.406099 5.813934,5.37447c-0.000874,2.968374 -2.603462,5.374475 -5.813934,5.374475z" /> </g> </svg>
                  hr
                div.one-whole
                  div.grid__item.one-whole.text-column
                    p A portal should serve as an inviting and effective window into valuable information that is enjoyable for all users. At CSG, we design and develop highly functional and collaborative, cloud or hybrid SharePoint solutions firmly rooted in business strategy. We believe that business requirements, architecture, user interface design, information architecture, and governance are not just “nice to have” but are key elements to any successful implementation.
                    p Using technologies like Office 365 with SharePoint Online, we build powerful enterprise content management and collaboration tools without the need to support on-premises infrastructure. For clients who require customized on-premises solutions, we have a wealth of experience in infrastructure architecture and a legacy of application development knowledge that gives us unique capabilities to develop collaboration and portal solutions that help connect people, processes and information across an organization.
                    p The output is a portal functioning as a core business tool with high user adoption and satisfaction.
                    h3.right: a.modal-toggle(data-modal='portals', href='javascript:void(0)').text-size-md contact us about portals }
              section#swappable-windows8.hide(data-swap='windows8')
                div.grid__item.one-whole
                  span.title Windows 8
                  div.fr.hide-mobile
                    | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <g id="svg_1"> <path fill="#003C56" d="m52.648151,8.154538l-44.824056,0c-1.707499,0 -3.091435,1.245015 -3.091435,2.780181l0,27.803574c0,1.535164 1.383936,2.780182 3.091435,2.780182l12.21363,0l10.991478,0l21.618067,0c1.7075,0 3.091438,-1.245018 3.091438,-2.780182l0,-27.803574c0.000877,-1.535166 -1.38306,-2.780181 -3.090557,-2.780181zm-22.412029,27.239974c-5.831171,0 -10.558006,-4.726833 -10.558006,-10.558004c0,-5.831173 4.726835,-10.558009 10.558006,-10.558009s10.55801,4.726836 10.55801,10.558009c0,5.831171 -4.726837,10.558004 -10.55801,10.558004z" id="svg_2"/> <polygon fill="#003C56" points="29.3815 20.1879 32.2215 23.7145 24.594 23.7145 24.594 25.7658 32.2171 25.7658 29.3815 29.2925 32.2883 29.2925 36.3056 24.7407 32.2883 20.1879" id="svg_3"/> </g> </g> </svg>
                  hr
                div.one-whole
                  div.grid__item.one-whole.text-column
                    p Tablet devices have outsold the desktop PC and are expected to outsell laptops in the next 3 years. This dramatic trend has driven change in operating systems and apps. Microsoft’s release of Windows 8 adds fuel to that fire. CNET says, "Microsoft makes an aggressive, forward-thinking, and bold statement for the future of PCs with Windows 8." The world of possibilities is wide open for building great apps that take advantage of things like touch, video and proximity sharing.
                    p Great apps are defined by the quality of the user experience and the seamless blending of mobile, web and cloud capabilities that enable users to connect, share and interact in rich and meaningful ways. Our passion is building great apps on Windows 8.
                    p Whether you need a world-class consumer app in the Windows Store or a line of business application using Windows 8, we have the team and experience you need. CSG has worked closely with Microsoft through the Application Fast Track (AFT) program, the Microsoft Application Acceleration Program (MAAP) and is a Windows Design Agency Network partner. We have built Windows 8 applications for some of today's biggest brands.
                    h3.right: a.modal-toggle(data-modal='windows8', href='javascript:void(0)').text-size-md contact us about Windows 8 }


      /////////////////////////////////
      // ABOUT
      /////////////////////////////////
      div#about-container
        section#about.grid.wrapper
          div.grid__item.four-twelfths.mobile--one-whole.full
            aside.one-whole(style='min-height: 430px')
                div.grid__item.one-whole.text-column.hide-desk.space-bottom
                  div.text-size-md.space-top-sm About Us
                  p Our team loves to build solutions that are beautifully designed, functional and hardworking. We integrate modern cloud and mobile technologies with on-premises systems to maximize value, create massive scale and ensure long-term supportability. CSG does whatever it takes to help organizations get the most value out of their systems. We know that every project is connected to the business. The right solution will meet business requirements, have a great user experience, complement current architecture, and anticipate future needs.
                  p Headquartered in Portland Oregon, CSG is deeply committed to our values; Do What’s Right, Team Over Self, Deliver Excellence, and Create Value. We hope we have the opportunity to live these out while building something amazing for your business.
                div.grid__item.one-whole.center
                  img.space-top(src='img/CSG20_icon.svg')
                div.grid__item.one-whole.text-column.space-bottom(style='color: #ccc;')
                  p "We first opened our doors on July 6, 1993. The first thing we did that day was define our core values - integrity, excellence and teamwork. We felt it was the most important thing to do because it set the foundation for everything that came after. We started CSG to fulfill a need we saw in the industry for unquestioned integrity and excellent customer service. A need for someone to build custom business software that mattered. And we wanted to make sure we were that company."
                  img(src='https://csgsitestorage.blob.core.windows.net/img/about_jerry_thumb.png')
                  div#jerry
                    span Jerry Frank,
                    br
                    span.serif Founder &amp; Chairman
          div.grid__item.eight-twelfths.hide-mobile
            article.swappable
              section#swappable-about(data-swap='about')
                div.text-size-md.space-top-sm About Us
                p Our team loves to build solutions that are beautifully designed, functional and hardworking. We integrate modern cloud and mobile technologies with on-premises systems to maximize value, create massive scale and ensure long-term supportability. CSG does whatever it takes to help organizations get the most value out of their systems. We know that every project is connected to the business. The right solution will meet business requirements, have a great user experience, complement current architecture, and anticipate future needs.
                p Headquartered in Portland Oregon, CSG is deeply committed to our values: Do What’s Right, Team Over Self, Deliver Excellence, and Create Value. We hope we have the opportunity to live these out while building something amazing for your business.
              section#swappable-chuckb.hide(data-swap='chuckb')
                div.text-size-md.space-top-sm Chuck Britton
                span.text-size-sm.serif Sales and Marketing Director
                p In April 2013, Chuck made the decision to join CSG, recognizing that integrity, excellence, and teamwork were core to serving the firm’s clients. The combination of CSG’s 20 year reputation, plus the entrepreneurial spirit behind their growth plans, made it the ideal place to land his 25 years of technology solution sales and general management experience. Chuck spent 14 years at Microsoft Corporation just prior to CSG.
                h3: a.about-us(href='javascript:void(0);') { about us
              section#swappable-roneg.hide(data-swap='roneg')
                div.text-size-md.space-top-sm Ron Ellis Gaut
                span.text-size-sm.serif VP of Strategic Solutions
                p As a founding member, Ron has had the unique opportunity to contribute to the growth and success of the company since the beginning.  He brings over 30 years of IT experience and a broad base of expertise to Strategic Solutions at CSG Pro.
                h3: a.about-us(href='javascript:void(0);') { about us
              section#swappable-kevinm.hide(data-swap='kevinm')
                div.text-size-md.space-top-sm Kevin McVicker
                span.text-size-sm.serif President
                p Kevin joined CSG in February 2010 with a keen focus on driving growth while enhancing CSG's already strong reputation and consulting capabilities. In January of 2012, Kevin was named President of CSG and is guiding CSG to the next level of leadership in our market, using his many years of experience in information technology and company leadership.
                h3: a.about-us(href='javascript:void(0);') { about us
              section#swappable-jamesc.hide(data-swap='jamesc')
                div.text-size-md.space-top-sm James Churchill
                span.text-size-sm.serif Practice Manager: Application Development
                p James manages the development of custom applications for CSG. He has worked extensively with Microsoft technologies such as “classic” ASP, ASP.NET, SQL Server, and Windows Presentation Foundation (WPF). As a web developer, James has also worked extensively with HTML, JavaScript, CSS, Flash, and even occasionally PHP and MySQL.
                h3: a.about-us(href='javascript:void(0);') { about us
            ul.swapper
              li#swapper-chuckb(data-swap='chuckb')
                dl
                  dt.name Chuck
                  dd.role
                    span Sales and<br />Marketing Director
                div.cutout.cutout_chuck
                  img(src='https://csgsitestorage.blob.core.windows.net/img/about_cutout_chuck.png')
              li#swapper-roneg(data-swap='roneg')
                dl
                  dt.name Ron
                  dd.role
                    span Vice President<br />Strategic Solutions
                div.cutout.cutout_ron
                  img(src='https://csgsitestorage.blob.core.windows.net/img/about_cutout_ron.png')
              li#swapper-kevinm(data-swap='kevinm')
                dl
                  dt.name Kevin
                  dd.role
                    span President
                div.cutout.cutout_kevin
                  img(src='https://csgsitestorage.blob.core.windows.net/img/about_cutout_kevin.png')
              li#swapper-jamesc(data-swap='jamesc')
                dl
                  dt.name James
                  dd.role
                    span Practice Manager:<br />Application Development
                div.cutout.cutout_james
                  img(src='https://csgsitestorage.blob.core.windows.net/img/about_cutout_james.png')

      /////////////////////////////////
      // UPDATES
      /////////////////////////////////
      div#updates-container
        section#updates.grid.wrapper
          include partials/updates-header

          //- Working on blog posts.
          div.grid_item.one-whole.space-left-sm.desk--space-top.pad-bottom-lg
            if (posts)
              each post in posts
                div.post.grid__item.eleven-twelfths.desk--four-twelfths
                  a(href='/post/category/#{post.Category}'): div(class="circle icon-#{post.Category.toLowerCase()}")
                  article.grid__item.eleven-twelfths
                    div.grid__item.one-whole.right
                      small(title="#{moment(post.PublishDate || 0).format('L')}")= moment(post.PublishDate || 0).fromNow()
                    div.right-gutter.abstract
                      h3: a(href='/post/#{post.id}')= post.Title
                      h4.serif by #{post.AuthorFullName}
                      p= post.Abstract
                    div.grid__item.one-whole.right.full
                      small
                        a(href="/post/#{post.id}")
                          b read more }
            else
              h1 We're having trouble loading out blog posts at this moment.


      /////////////////////////////////
      // CONTACT
      /////////////////////////////////

      div#contact-container
        section#contact.grid.wrapper
          article.grid__item.one-whole.desk--space-top-sm.space-bottom-lg
            form(role='form', action='/contact', method='POST').grid__item.five-twelfths.panel-white.full.right-gutter.hide-mobile
              div.grid__item.one-whole.space-top-xs
                label.lbl.status-header Got a quick question?
                p We'd love to get to back to you with an answer.
              div.grid__item.six-twelfths
                label.lbl What's your name?
                input.input-grey.clearable(name='name', type='text')
              div.grid__item.six-twelfths
                label.lbl How can we reach you?
                input.input-grey.clearable(name='contactInfo', type='text')
              div.grid__item.one-whole
                label.lbl So, what's on your mind?
                textarea.input-grey.clearable(name='comments', type='text', style='height: 100px')
                input.winnie-the-pooh(name='cryptoTime', type='text', value='#{cryptoTime}')
                input.winnie-the-pooh(name='hpizzle', type='text')
              div.grid__item.one-whole.right
                button.serif(type='submit').btn.btn-blue.ajaxSubmit make it so
            div.grid__item.desk--seven-twelfths.one-whole.full
              div.grid__item.desk--one-half.mobile--one-whole
                h1 734 NW 14th Avenue <br>Portland, OR 97209
                h1: a(href='http://www.bing.com/maps/default.aspx?where1=734%20Nw%2014th%20Ave,%20Portland,%20OR', target='_blank') get directions
              div.grid__item.desk--one-half.mobile--one-whole
                h1 503.292.0859 /<small>phone</small><br>503.292.1485 /<small>fax</small>
                h1: a(href='mailto:info@csgpro.com') info@csgpro.com
              div.grid__item.desk--one-half.mobile--one-whole
                span.serif.text-size-md connect with us:
                  a(href='http://twitter.com/csgpro'): img.side-margins.vmid(src='/img/twitter_icon.svg', style='width: 30px; height: 30px')
                  a(href='http://www.linkedin.com/company/csg-pro'): img.side-margins.vmid(src='/img/linkedin_icon.svg', style='width: 30px; height: 30px')
              div.grid__item.desk--one-half.mobile--one-whole
                span.serif.text-size-md careers:
                div.careers
                  p
                    a(href='/post/category/Career') view open positions
                    |  or
                    br
                    |  submit a resumé
                    |  <a href="mailto:jobs@csgpro.com">via email</a>

      include partials/footer
      mixin footer(false)
