doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title || post.Title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')

    block meta

    //- meta(name='description', content='CSG Pro, a professional services consulting company based in Portland, OR.')
    //- meta(property='og:title', content='CSG Pro Consulting')
    //- meta(property='og:image', content='http://csgpro.com/apple-touch-icon-precomposed.png')
    //- meta(property='og:url', content='http://csgpro.com')

    //- Google Analytics
    script.
        if (location.host === 'www.csgpro.com') {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-29382747-1', 'auto');
            ga('send', 'pageview');
        }
            
    link(rel='stylesheet', href='/css/MyFontsWebfontsKit.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:100italic, 100', type='text/css')


    //- Bundle and minify our CSS
    link(rel='stylesheet', href='/css/bundle.css')

    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')

  body.body-white(class=pageClass)
    //if lt IE 7
      p.browsehappy
        | You are using an <strong>outdated</strong> browser.
        | Please <a href="http://browsehappy.com/">upgrade your browser</a>
        | to improve your experience.


    div.sticky-footer-wrapper
      div.mobile-nav.hide-desk(role='navigation')
        ul
          li: a.nav-work(href='/#work') work /
          li: a.nav-services(href='/#services') services /
          li: a.nav-about(href='/#about') about /
          li: a.nav-updates(href='/#updates') updates /
          li: a.nav-contact(href='/#contact') contact /
        div.bottom
          a(href='/post/24'): img(src='/img/CSG20_round_footer.svg', style='width: 80px; height: 80px; margin: 0 24px -20px 0')
          a(href='http://twitter.com/csgpro'): img.side-margins(src='/img/twitter_icon.svg', style='width: 30px; height: 30px')
          a(href='http://www.linkedin.com/company/csg-pro'): img.side-margins(src='/img/linkedin_icon.svg', style='width: 30px; height: 30px')

      div.main-body

        header.mobile-header.grid--full.hide-desk
          div.grid__item.eight-twelfths
            div.toggle-nav
              div.icon-bar
              div.icon-bar
              div.icon-bar
            ul.gothic
              li.nav-work(data-nav='work') work /
              li.nav-services(data-nav='services') services /
              li.nav-about(data-nav='about') about /
              li.nav-updates(data-nav='updates') updates /
              li.nav-contact(data-nav='contact') contact /
          div.grid__item.four-twelfths.right
            a(href='/')
              img(src='/img/logo.svg')

        block content

        div.sticky-footer-push

    nav.fixed-menu.hide-mobile
      div.wrapper
        a(href='/'): img#logo.small-logo(src='/img/logo.svg')
        ul
          li: a.nav-work(href='/#work') work
          li /
          li: a.nav-services(href='/#services') services
          li /
          li: a.nav-about(href='/#about') about
          li /
          li: a.nav-updates(href='/#updates') updates
          li /
          li: a.nav-contact(href='/#contact') contact

    div.inner-footer.sticky-footer
      include partials/footer
      mixin footer(true)

    //- We CDN load jQuery because everybody loves Raymond, err jQuery.
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    //- Fall back to the local copy of jquery if it isn't loaded by the CDN
    script.
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.10.2.min.js"><\/script>')

    //- Contains all the JavaScript for the page
    //- Content notes can be found at the top of the bundle
    script(src='/js/bundle.js')

    block js

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      //- script.
      //-   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      //-   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      //-   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      //-   e.src='//www.google-analytics.com/analytics.js';
      //-   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      //-   ga('create','UA-XXXXX-X');ga('send','pageview');
