extends layout-inner

block content
  div#nav-spacer
  div#updates-container
    section#updates.grid.wrapper
      include partials/updates-header
  div#main.blog-content.grid.wrapper
    div.grid__item.one-half.grey
      h1= title
    div.grid__item.one-half.right
      p Sharing stuff
    if (categories)
      each category in categories
        div.grid__item.one-whole.desk--full
          h2 Category:&nbsp;
            b "#{category.name}"
          hr
        each post in category.posts
          div.grid__item.desk--four-twelfths.pad-right-2.space-top-sm
            div: a.text-size-sm(href='/post/#{post.id}')= post.Title
            div: b.text-size-base.grey= post.PublishDate ? moment(post.PublishDate).format('L') : ''
            div
              p #{post.Abstract}
                b: a(href='/post/#{post.id}')  MORE
        div.grid__item.one-whole.right.space-top-sm
          a(href='/post/category/#{category.name}') more blog posts this way }
    else if (topic)
      //- something
    else if (category && posts)
      div.grid__item.one-whole.full
        each post in posts
          div.grid__item.desk--four-twelfths.pad-right-2.space-top-sm
            div: a.text-size-sm(href='/post/#{post.id}')= post.Title
            div: b.text-size-base.grey= post.PublishDate ? moment(post.PublishDate).format('L') : ''
            div
              p #{post.Abstract}
                b: a(href='/post/#{post.id}')  MORE

      //- something

