extends layout-inner

block content

    div#nav-spacer
    div#updates-container
      section#updates.grid.wrapper
        include partials/updates-header
    div#main.blog-content.grid.wrapper
      if (post.error)
        div.grid__item.one-whole
          h1 Post not found.
      else
        div.grid__item.one-whole.full
          if (!post.PublishDate)
            div.alert.alert-info.row
              div.grid__item.one-half.full
                span This post is
                  string  unpublished.
              div.grid__item.one-half.right
                if (user && user.IdAdmin)
                  a.btn.btn-blue(href="/admin/post/#{post.id}/publish") Publish

          article.grid__item.desk--nine-twelfths.article.pad-right-1
            h1= post.Title
            div.grid__item.one-half.full
              if (post.Category)
                h3.serif a #{post.Category.toLowerCase()} post by #{post.AuthorFullName || 'CSG Pro'}
            div.grid__item.one-half.full.right
              if (post.PublishDate)
                h4.grey posted 
                  | #{moment(post.PublishDate).format('L')}
            if (post.Markdown)
              p!= marked(post.Markdown)
              if (post.Topics && post.Topics != '')
                div.space-top.hide-desk
                  h4.blue Related Topics:
                  div.panel.panel-blue
                    ul.topic-list
                      each topic in post.Topics
                        li: a(href='/post/topic/#{topic}')= topic
                // Disqus Comments
                div#disqus_thread
                script(type='text/javascript')
                  var disqus_shortname = 'csgpro';
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                noscript
                  | Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                a.dsq-brlink(href='http://disqus.com') comments powered by 
                  span.logo-disqus Disqus
            else
              p This blog post is empty.
          if (post.Topics && post.Topics != '')
            div.grid__item.desk--three-twelfths.space-top.hide-mobile
              h4.blue Related Topics:
              div.panel.panel-blue
                ul.topic-list
                  each topic in post.Topics
                    li: a(href='/post/topic/#{topic}')= topic

